@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NeoTokyo - Production Book</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Production Book</h2>
        <p>
            This is my first attempt at an ASP.Net MVC 5 Web Application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Production Scheduling</h2>
        <p>This application is to be used as a bespoke production planning and scheduling tool.</p>
    </div>
    <div class="col-md-4">
        <h2>Application Description</h2>
        <p>This is achieved by assigning resource groups to processes derived from designs for customer works orders.</p>
    </div>
</div>